table{
	border-spacing: 0px 1px;
	border-color: #d0d0ff;
	border-style: solid;
	border-width: 10px;
	padding: 20px;
	font-size: 13px;
	font-family: Tahoma;
}

th, td {
	padding: 0px 5px 0px 5px;
}  
 
th{
	text-align:left;
}

table td+td+td+td{
	text-align:center;
}
tr.hidden{
	font-weight:bold;
}

tr.hidden td{
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
}